<!doctype html>
<html data-ng-app="Arachnest">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Game</title>
	<script src="./js/library/jquery-2.1.1.min.js"></script>
	<script src="./js/library/angular/angular.min.js"></script>
	<script src="./js/library/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="./js/library/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="./js/library/jquery.tooltipster.min.js"></script>
	<script src="./js/library/base64.js"></script>
	<link rel="stylesheet" href="./css/jquery-ui-1.10.4.custom.min.css"/>
	<link rel="stylesheet" href="./css/tooltipster.css"/>
	<link rel="stylesheet" href="./css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./css/theme.css"/>
</head>
<body>
<div id="wrapper" data-ng-controller="gameControl">
	<div id="menu" class="navbar navbar-inverse">
		<div class="container-fluid">
			<div id="resourceRate">
				<div id="fpcText" class="navbar-text">
					FPC: <span data-ng-bind="recalcRate('fpc')"></span>
				</div>
				<div id="fpsText" class="navbar-text">
					FPS: <span data-ng-bind="recalcRate('fps')"></span>
				</div>
				<div id="spsText" class="navbar-text">
					SPS: <span data-ng-bind="recalcRate('sps')"></span>
				</div>
			</div>
			<button id="resetButton" class="btn navbar-btn navbar-right tooltipBot">Reset</button>
			<button id="saveButton" class="btn navbar-btn navbar-right tooltipBot">Save</button>
			<div id="saveResult" class="navbar-text navbar-right"></div>
		</div>
	</div>
	<div id="base" class="jumbotron">
		<div id="bigButton" class="container">
			<div id="scoreContainer" class="text-center">Food
				<p id="foodResource" data-ng-bind="getResource('food')"></p>
				<button id="addFoodButton" class="btn" data-ng-click="addClick('food', 'fpc')">Gather</button>
			</div>
		</div>
	</div>
	<div id="mainContain" class="container" data-ng-controller="styleController">
		<div class="row">
			<div id="broodUpCont" class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
				<div id="broodDescription"></div>
				<h3 class="text-center upTitle">Brood</h3>
				<tabset justified="true">
					<tab data-ng-repeat="broodType in broodUpg"
						 heading="{{ broodType.id }}"
						 id="{{ broodType.id | lowercase }}Tab">
						<div class="list-group">
							<a class="list-group-item clearfix"
							   data-ng-repeat="upg in broodType.items"
							   data-ng-show="upg.requirement"
							   data-ng-click="buyUpgrade(upg, upg.costType, buyBroodUpg)"
							   data-ng-mouseenter="upgTooltip('#broodDescription', upg)"
							   data-ng-mouseleave="hideTooltip('#broodDescription')"
							   id="{{ upg.id }}">
								<p class="tText list-group-item-text" data-ng-bind="upg.title"></p>
								<span class="cText list-group-item-text" data-ng-init="initializeItem(upg)">
									cost: <span data-ng-bind="upg.cost"></span>
								</span>
								<span class="oText list-group-item-text pull-right" data-ng-bind="upg.owned"></span>
							</a>
						</div>
					</tab>
				</tabset>
			</div>
			<div id="upCont" class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
				<div id="evolutionDescription"></div>
				<h3 class="text-center upTitle">Evolution</h3>

				<div class="list-group">
					<a class="list-group-item clearfix"
					   data-ng-repeat="evo in evolutionUpg"
					   data-ng-show="evo.requirement"
						 data-ng-click="buyUpgrade(evo, evo.costType)"
						 data-ng-mouseenter="upgTooltip('#evolutionDescription', evo)"
						 data-ng-mouseleave="hideTooltip('#evolutionDescription')">
						<p class="tText list-group-item-text" data-ng-bind="evo.title"></p>
						<span class="cText list-group-item-text" data-ng-init="initializeCost(evo)">
							cost: <span data-ng-bind="evo.cost"></span>
						</span>
					</a>
				</div>
			</div>
			<div id="achieveCont" class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
				<div id="achieveTooltip"></div>
				<h3 class="text-center upTitle">Achievements</h3>

				<div id="achieveList"></div>
			</div>
		</div>
	</div>
</div>
<script src="./js/angularStart.js"></script>
<script src="./js/angularUpgrades.js"></script>
<script src="./js/angularGame.js"></script>
<script src="./js/angularStyle.js"></script>
</body>
</html>
